/**Google font**/
@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@200&family=Pattaya&family=Rajdhani:wght@400;500&family=Roboto:wght@100;300&display=swap');

* {
  box-sizing: border-box;
}

.header,
section {
  overflow-x: hidden;
}

:root {
  /**Font families declaration**/
  --raj: 'Rajdhani', sans-serif;
  --pattaya: 'Pattaya', sans-serif;
  --koho: 'KoHo', sans-serif;
  --roboto: 'Roboto', sans-serif;
  --light-black: #2e2c2caf;
  --bggradient: linear-gradient(to right, #b60b58, #aa512f);
  --light-gray: rgba(255, 255, 255, 0);
  --bggradient2: linear-gradient(to left, #ce340e, rgb(212, 116, 7));
  --bggradient3: linear-gradient(to right, #2f0557, rgb(122, 8, 56));
}

h1 {
  &.stat-count {
    span {
      background: inherit;
      font-weight: inherit;
    }
  }
}

.header a {
  font-family: var(--raj);
  font-size: 1.1em;
  color: #fef !important;
  transition: all 0.2s ease-in-out;
}

.header {
  background: var(--bggradient);
}

.hero {
  padding-bottom: 40px;
}

.header .navbar-light .navbar-brand {
  color: #fff;
  background: transparent;
  background-clip: text;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: #fff;
}

.header .navbar-light .navbar-toggler {
  border-color: transparent;
  outline: none !important;
}

.navbar-toggler {
  background: var(--bggradient3);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header .nav-item {
  padding: 0.9em;
}

.header .navbar-brand {
  padding-left: 0;
  font-size: 2em;
  font-weight: bolder;
  letter-spacing: 0.1em;
  background: var(--bggradient3);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--raj);
}

.header .nav-link:hover {
  background: var(--bggradient3);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.header img {
  display: block;
  margin-left: auto;
  width: 90%;
  height: auto;
}

.tag-line {
  color: #fff !important;
  font-family: var(--raj);
  padding: 10vmin 1vmin;
  padding-bottom: 15vmin;
}

.tag-line h6 {
  letter-spacing: 0.15em;
  font-size: 1.2em;
}

.fader h1 {
  margin-bottom: 25px;
}

.tag-line p {
  font-size: 1.2em;
  margin-bottom: 50px;
}

.tag-line .btn {
  border-radius: 30px;
  background: var(--bggradient3);
  border-color: #ce340e;
  font-weight: bold;
  letter-spacing: 0.2em;
  padding: 15px 55px !important;
}

h1 span {
  font-weight: bold;
  background: var(--bggradient3);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section {
  padding-top: 75px;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: orange;
  }
}

.fader {
  animation: opac 5s;
}

@keyframes opac {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* All main area styles */

.main h1 {
  background: var(--bggradient3);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--raj);
}

.section1-head p {
  background: var(--bggradient3);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--raj);
}

.section-1 {
  font-family: var(--raj);
}

.what-we-do-txt {
  width: 85%;
  margin: 0 auto;
}

.section-1 i {
  background: var(--bggradient3);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0.3em;
}

.section-1 h3 {
  background: var(--bggradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-1 p {
  background: var(--bggradient3);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-5 img {
  border-radius: 100%;
  width: 100%;
  padding: 2em;
}

.section-5 {
  background: var(--bggradient);
}

.section-5 h3 {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  width: 90%;
  font-family: var(--raj);
  font-weight: 100;
  color: #fef;
  text-align: right;
}

.testimonials__person {
  font-size: 24px;
  color: #fff;
  font-family: var(--raj);
  width: 90%;
}

.testimonials__carousel-wrapper {
  padding-top: 50px;
  padding-bottom: 65px;
  margin-top: 45px;
}

.testimonials .carousel-indicators {
  bottom: -25px;
  margin-bottom: 10px;
}

.testimonials-head p {
  background: var(--bggradient3);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--raj);
}

.cover p {
  background: var(--bggradient3);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--raj);
}

.numbers .rect {
  width: 15rem;
  margin: 1.2em;
  background: var(--bggradient3);
  border-radius: 10px;
  padding-top: 2em;
  box-shadow: 0 5 10em;
}

.numbers .rect h1 {
  font-size: 5em;
  background: var(--bggradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.numbers .rect p {
  color: #fef;
  font-family: var(--raj);
  font-size: 1.2em;
  padding: 0.5em;
}

.numbers {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0.2em;
  border-radius: 1.2em;
  background: #fff;
}

.section-3 form {
  font-family: var(--raj);
  padding-bottom: 2em;

  &.form-disabled {
    pointer-events: none;
  }
}

.txt-rotate {
  font-size: 55px;
  margin-top: 5px;
  display: block;
}

form .form-control {
  border-color: transparent;
}

form .form-control:focus {
  border-color: #fd2075;
  box-shadow: #dd2476;
  outline-color: #fd2075 !important;
}

.form-grad {
  padding: 1px;
  background: var(--bggradient);
  border-radius: 0.3em;
}

form .btn {
  border-radius: 30px;
  background: var(--bggradient);
  border-color: #ce340e;
  font-weight: bold;
  letter-spacing: 0.2em;
  color: #fef;
}

.select-wrapper {
  position: relative;

  &:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 7px solid #b60d57;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }

  select.form-control {
    appearance: none;
  }
}

.error-msg {
  margin-left: 3px;
  color: #fff;
}

#get-in-touch .form-control {
  padding: 12px 15px;
  height: auto;
}

#brief {
  min-height: 50px;
}

#get-in-touch .react-tel-input {
  font-family: inherit;

  .form-control {
    width: 100%;
    border-color: transparent;
    height: auto;
    padding-left: 55px;
    line-height: 1.5;
    font-size: 1rem;
    background-clip: padding-box;
  }

  .flag-dropdown {
    border: 0;
    background-color: transparent;
  }

  .selected-flag {
    padding-left: 15px;
    width: 55px;
    background-color: transparent !important;
  }
}

.footer {
  background: var(--bggradient);
  padding: 1em;
  font-family: var(--raj);
  margin-top: 35px;

  h4 {
    background: var(--bggradient3);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p,
  a.email {
    color: #fff;
  }

  .about-text {
    width: 85%;
  }

  .address-top {
    font-weight: bold;
  }

  .fab {
    color: #fff !important;
    padding-left: 1.75em !important;
    padding-top: 0.6em !important;

    &:hover {
      background: var(--bggradient3);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: bold;
      cursor: pointer;
    }
  }

  .fas {
    color: #fff;
    padding-right: 1em;
  }

  .col-md-2 .row {
    margin-right: auto;
    margin-left: auto;
  }

  mail {
    padding-top: 1.5em;
    height: 20%;
  }

  mobile {
    padding-top: 0.5em;
    height: 20%;
  }

  span {
    background: var(--bggradient3);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }

  .col-md-3 .footer-mail:hover {
    background: var(--bggradient3);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    cursor: pointer;
  }

  .col-md-3 .footer-mobile:hover {
    background: var(--bggradient3);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    cursor: pointer;
  }
}

.form-control {
  border: 1px solid red;

  &:focus {
    box-shadow: none !important;
  }
}

a {
  &.scroll-link {
    cursor: pointer;
  }
}

.footer {
  background: var(--bggradient);
  padding: 50px 0 15px 0;
  font-family: var(--raj);
}

@media (max-width: 768px) {
  .fader h1 {
    margin-bottom: 25px;
  }

  .tag-line h6 {
    margin-bottom: 20px;
  }

  .fader h1 {
    font-size: 30px;
  }

  .section-5 img {
    width: 40% !important;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .hero {
    text-align: center;
    min-height: calc(100vh - 76px);
    display: flex;
    align-items: center;
  }

  .hero .container {
    height: 100%;
  }

  .section-3 h1 {
    margin-bottom: 40px;
  }

  .what-we-do-txt {
    width: 100%;
  }

  .section {
    padding-top: 60px;
  }

  .testimonials {
    &__carousel-wrapper {
      padding-top: 5px;
      padding-bottom: 40px;
    }

    .carousel-control-prev,
    .carousel-control-next {
      bottom: 50%;
    }

    .testimonials__quote {
      text-align: center;
      width: 100%;
      font-size: 18px;
      padding-right: 18px;
    }

    .testimonials__person {
      text-align: center !important;
      width: 100%;
      font-size: 16px;
    }
  }

  .footer .about-text {
    width: 100%;
  }
}
